{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css",
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "displayName": true
      }
    ],
  ],
  "ignore": [
    "lib",
    "node_modules"
  ]
}